body {
}
#main-ctrl{
    height:100%;
}
#main-ctrl > div{
    height:100%;
}
.fixed-at-left.fixed-single > .fix-popu-ctrl-toleft {
    --adj-width:-350px;
    width:380px;
}
#main-ctrl > div .tab-content {
    height:calc( 100% - 32px );
    /*border:2px red solid;*/
}
#main-ctrl > div .tab-content > .tab-pane{
    height:100%;
    overflow:auto;
}
#main-ctrl > div .tab-content > .tab-pane > .fsta-c{
    height:100%;
    /*background-color:lightgray;*/
}
#main-ctrl .pinctrl, #main-ctrl .pinctrl > * {
    padding: 0 !important;
}
#main-ctrl .pinctrl > *:not(.jsPanel) {
    margin-top: .75rem;
}
#main-ctrl .pinctrl>.jsPanel{
    margin-top:-.4rem;
}
#main-ctrl .pinctrl>.jsPanel >.jsPanel-hdr{
    min-height:auto;
    color:darkblue;
}
#main-ctrl .filter-container, #main-ctrl .filter-container > div, #main-ctrl .jsPanel-content {
    padding: 0 !important;
}

#main-ctrl .jsPanel-hdr .jsPanel-hdr-toolbar>*:not(.meter-list-count){
    display:none;
}
.pin-list-container tr{
    background-color:transparent !important;
}
.pin-list-container .rain_normal {
    color: blue;
}
.pin-list-container .rain_heavy {
    color: green;
}
.pin-list-container .rain_extremely {
    color: #9ACD32;
}
.pin-list-container .rain_torrential {
    color: orange;
}
.pin-list-container .rain_exttorrential {
    color: red;
}
.pin-list-container .rain_nodata {
    color: gray;
}
.pin-list-container .green_status > td {
    color: green !important;
}
.pin-list-container .red_status > td {
    color: red !important;
}
.pin-list-container .orange_status > td {
    color: orange !important;
}
.pin-list-container .yellow_status > td {
    color: #9ACD32 !important;
    /*color: #0077ff;
    color: #ffa71b;
    color: #ffa71b;
    color: #fefd37;*/
    color:#
}
.pin-list-container .blue_status > td {
    color: blue !important;
}
.pin-list-container .gray_status > td {
    color: gray !important;
}
#main-ctrl .meter .legend {
    margin-left:0;
}
#main-ctrl .bootstrap-table .fixed-table-container .table thead th .sortable {
    padding-right: 16px !important;
}
.fsta-c{
    display:flex;
    flex-direction:column;
}
.fsta-c > .sta-c {
    height: auto;
    /*border: 1px black solid;*/
    padding: .4rem;
    border-radius: .4rem;
}
.fsta-c > .sta-c-title{
    height:1.5rem;
}
.fsta-c > .sta-c
{
    height: calc( ( 100% - 2rem ) / 4 );
    height: 25%;
    margin-bottom:.3rem;
    display:flex;
}
 .fsta-c > .sta-c > div{
     width:auto;
 }
.fsta-c > .sta-c > .total{
    flex:5;
}
.fsta-c > .sta-c > .legend{
    flex:1;
}
.fsta-c > .sta-c > .status-name{
    flex:3;
}
.fsta-c > .sta-c > .count{
    flex:1;
    text-align:end;
    padding-right:.3rem;
}
.fsta-c > .r-sta-c {
    background-color: #9DC3E6;
}
.fsta-c > .w-sta-c {
    background-color: #A9D18E;
}
.fsta-c > .f-sta-c {
    background-color: #D0CECE;
}
.fsta-c > .s-sta-c {
    background-color: #F4B183;
}
.fsta-c > .sta-c{
    cursor:pointer;
}
.fsta-c > .sta-c > *{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.fsta-c > .sta-c > * > *{
    height:3.5vh;
    /*padding:3px 1px;*/
    margin-bottom:3px;
    font-size:2.2vh;
    font-weight:bold;
    color:darkblue;
}
.fsta-c > .sta-c > .legend > img{
    width:3.5vh;
}
.fsta-c > .sta-c > .status-name > *, .fsta-c > .sta-c > .count > * {
    padding-top: .9vh;
}
.fsta-c > .sta-c > .total{
    align-items:center;
}
.fsta-c > .sta-c > .total .title {
    height: 4vh;
    font-size: 2.75vh;
    color: white;
    font-weight: 600;
    padding-top: 2vh;
    text-shadow: .5px .5px 2px darkblue, -0.5px -0.5px 2px darkblue;
}
.fsta-c > .sta-c > .total .t-count {
    flex: auto;
    font-size: 8vh;
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 1px 1px 4px darkblue, -1px -1px 4px darkblue;
}
.video-iframe {
    width: 298px;
    height: 264px;
}
.full-zoom-in .video-iframe {
    width: 100%;
    height: 360px;
}

.mechanical-status {
    width: .8rem;
    height: .8rem;
    margin-bottom:-.1rem;
    display:inline-flex;
    border:1px black solid;
}
.mechanical-status.status-no,.mechanical-status.bbg-1{
    border-radius:1rem;
    /*border:1px gray dashed;*/
    background-color:#FFFF00;
}
/*.mechanical-status.status-no:before{
    content:'Ｘ';
    color:gray;
}*/
.mechanical-status.status-1,.mechanical-status.bbg-2{
    border-radius:1rem;
    background-color:#FF0000;
}
.mechanical-status.status-0,.mechanical-status.bbg-3{
    border-radius:1rem;
    background-color:#00FF00;
}
.mechanical-info-container {
    padding: 0 .3rem .3rem .3rem;
    max-height:450px;
    overflow-y:auto;
}
.mechanical-info-container .device-stage-type-info{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mechanical-info-container .device-stage-type-info:first-child {
    margin-top: 0;
}
.mechanical-info-container .device-stage-type-info:last-child {
    margin-bottom: 0;
}
.mechanical-info-container .info-title {
    font-weight: bold;
    font-size: .85rem;
}
.meterInfoTemplateContent .fixed-table-container.fixed-height {
    padding-bottom: 46px !important
}
/*歷史資料時間設定*/
.leaflet-popup-content:not(.full-zoom-in) .date-dur-ctrl {
    display: none;
}
.date-dur-ctrl {
    padding: 1rem 2.2rem .5rem 1rem;
}
.date-dur-ctrl > *{
    margin-left:.2rem;
    margin-right:.2rem;
}

.full-zoom-in .history-data-chart .carousel-item {
    display: block !important;
    float: none;
}
.full-zoom-in .history-data-chart .carousel-control {
    display: none;
}
.full-zoom-in .meterInfoTemplateContent > table + .bootstrap-table{
    margin-top:1rem;
}
.slide.meterInfoTemplateContent{
    max-height:300px;
    overflow:auto;
}
#other-ctrl.meter > .pinctrl > .ctrl {
    padding-bottom: 0;
}


#positionDiv .twd97Div + .btn{
    display: none;
}

#positionDiv .position-title {
    border-bottom: 1px gray solid;
    font-weight: bold;
    clear: both;
    margin-bottom:.3rem;
}
#positionDiv .clear-positon {
    margin-top: 16px;
    float: right;
}
#positionDiv .village-p select {
    width: calc(50% - 35px );
    display: inline;
}
#positionDiv .village-p select.v {
    margin-left: 8px;
}
#positionDiv .village-p .btn.p {
    margin: -4px 0 0 4px;
}
#positionDiv .wgs84Div, #positionDiv .twd97Div, #positionDiv .village-p {
    margin-bottom: .2rem;
}

.modal-dialog-淹水感測設備-full-window .date-dur-ctrl > *:not(.glyphicon-cloud-download){
    display:none;
}

