@Html.Partial("MapPartial")
<link rel="stylesheet" href="~/Content/prj/sub/floodquery.css" />
<link rel="stylesheet" href="~/Content/prj/rthydro.css" />

@Html.Partial("_ArcgisMapPartial")
@Html.Partial("_ArcgisQpesums")

<div id="arcgis_legend" style="position: absolute; top: 70px; left: 30px; width: 300px; max-height: 530px; overflow-y: hidden; transform: scale(0.9); transform-origin: top left; background: rgba(255,255,255,0.85); border-radius: 20px; padding: 15px;">
</div>

<script>
    function add_layer() {
        if (arcgis_map.createMapImageLayer) {
            const mapserver = arcgis_map.createMapImageLayer({
                url: 'https://water.tainan.gov.tw/tnwrbarcgis104/rest/services/TNRW/IISI_rainwater/MapServer',
                sublayers: [
                    {
                        id: 4,
                        visible: true
                    },
                    {
                        id: 3,
                        visible: true
                    },
                    {
                        id: 2,
                        visible: true
                    },
                    {
                        id: 1,
                        visible: true
                    },
                    {
                        id: 0,
                        visible: true
                    }
                ]
            });
            arcgis_map.map.add(mapserver, 1);
            $.get('https://water.tainan.gov.tw/tnwrbarcgis104/rest/services/TNRW/IISI_rainwater/MapServer/legend').then(html => {
                const dom = $.parseHTML(html);
                const div = dom.find(x => x.tagName == 'DIV' && x.className == 'rbody');
                $("#arcgis_legend").html(
                    div.outerHTML
                );
            });
        } else {
            setTimeout(add_layer, 1000);
        }
    }

    $(document).ready(function () {
        add_layer();
        qpesum_forecast_60m();
    });
</script>
<div style="position: absolute; top: 600px; left: 30px; width: 270px; height: 180px; background: rgba(255,255,255,0.85); border-radius: 20px; padding: 15px;">
    <h5>預報資料類型：</h5>
    <h6 style="color: rgb(14 8 100); font-weight: 800;">QPESUMS一小時累積雨量</h6>
    <h5>預報資料時間：</h5>
    <h6 id="qpesum-datetime" style="color: rgb(14 8 100); font-weight: 800;"></h6>
</div>
