@Html.Partial("MapPartial")
<link rel="stylesheet" href="~/Content/prj/sub/floodquery.css" />
<link rel="stylesheet" href="~/Content/prj/rthydro.css" />
@Html.Partial("_ArcgisMapPartial")
@Html.Partial("_ArcgisQpesums")
<div id="water-level-legend" style="position: absolute; bottom: 65px; right: 140px;padding: 0px; border: 3px solid rgba(255,255,255,0.4); ">
    <img src='@Url.Content("~/Images/淹水深度圖例.png")' />
</div>
<script>
    const LAYER_ID = 'E-WARN';
    var last_t0;

    function getModelResultList() {
        var url = app.siteRoot + 'api/model/result/list';
        $.get(url).then(response => {
            $("#time-selections").empty();
            var first = true;
            for (var r of response) {
                var ele = $(`<label id='m-${r.replace('.', '-')}' onclick='showModelResult("${r}", 0)'>${r}</label>`)
                $("#time-selections").append(ele);
                if (first) {
                    showModelResult(r, 0);
                    first = false;
                }
            }
        });
    }

    function showModelResult(t0, h) {
        if (!arcgis_map.createFeatureLayer) {
            console.log('Waiting for arcgis ready');
            setTimeout(function () { showModelResult(t0, h); }, 1000);
        } else {
            if (t0) {
                last_t0 = t0;
                var qpesum_time = `${t0.substring(0, 4)}-${t0.substring(4, 6)}-${t0.substring(6, 8)}T${t0.substring(9, 11)}:${t0.substring(11, 13)}`;
                qpesum_forecast_60m(null, qpesum_time);
            }
            $("#model-time").text(last_t0);
            $("#time-selections label").css("background", "");
            $("#hour-selections span").css("border", "");
            $("#m-" + last_t0.replace('.', '-')).css("background", "yellow");
            $("#m-hour-" + h).css("border", "1px solid #800000");

            const old_result_layer = arcgis_map.map.findLayerById(LAYER_ID + '-OUTPUT');
            if (old_result_layer) arcgis_map.map.remove(old_result_layer);
            const result_layer = arcgis_map.createGeoJSONLayer({
                url: app.siteRoot + `api/model/result/${last_t0}/${h}`,
                id: LAYER_ID + '-OUTPUT', // url to the service
                popupTemplate: {
                    overwriteActions: true,
                    title: "淹水深度: {FIELD1} mm",
                    content: "ID: {ID}"
                },
                renderer: {
                    type: "simple",
                    symbol: {
                        type: "simple-fill",
                        color: [250, 250, 250],
                        outline: {
                            color: [255, 128, 128, 0.5],
                            width: 0.5
                        }
                    },
                    visualVariables: [
                        {
                            type: "color",
                            field: "FIELD1",
                            stops: [
                                { value: 0, color: "#F0F0F0" },
                                { value: 300, color: "#FFFF01" },
                                { value: 500, color: "#B8B0FF" },
                                { value: 1000, color: "#FFC242" },
                                { value: 2000, color: "#4DE85C" },
                                { value: 3000, color: "#343490" }
                            ]
                        }
                    ]
                }
            });
            arcgis_map.map.add(result_layer);
        }

    }



    $(document).ready(function () {
        getModelResultList();
    });
</script>
<div style="position: absolute; top: 680px; left: 30px; width: 200px; height: 180px; background: rgba(255,255,255,0.85); border-radius: 20px; padding: 15px;">
    <h5>雨量資料類型：</h5>
    <h6 style="color: rgb(14 8 100); font-weight: 800;">QPESUMS一小時預報雨量</h6>
    <h5>資料時間：</h5>
    <h6 id="qpesum-datetime" style="color: rgb(14 8 100); font-weight: 800;"></h6>
</div>
<div style="position: absolute; top: 80px; left: 30px; width: 200px; height: calc(100vh - 360px); background: rgba(255,255,255,0.85); border-radius: 20px; padding: 12px; cursor: pointer">
    <h5>淹水模擬時間：</h5>
    <h5 id="model-time"></h5>
    <hr />
    <div id="hour-selections">
        @for (var i = 0; i <= 12; i++)
        {
<span style="padding: 1px; font-size: 12px" id="m-hour-@i" onclick="showModelResult(0, @i)">+@i</span> if (i == 6)
                {
                    <br />
                }
            }
    </div>
    <hr />
    <h5>其他模式時間：</h5>
    <hr />
    <div id="time-selections">
    </div>
</div>